@{
    if (Session["XenonUsername"] == null)
    {
        Response.Redirect("/Login");
    }
    ViewBag.XenonUsername = Session["XenonUsername"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Xenon Allianz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        <div class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button-->

                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/Wallet">@Session["XenonUsername"]</a></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @Html.ActionLink("Xenon Allianz", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Logo", "Index", "Home")</li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @{
                            if (((string)Session["XenonType"]) == "admin")
                            {
                                <li>@Html.ActionLink("All Users", "Users", "Admin")</li>
                                <li>@Html.ActionLink("All Wallet", "Wallets", "Admin")</li>
                                <li>@Html.ActionLink("All Contract", "Contracts", "Admin")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Wallet", "Index", "Wallet")</li>
                                <li>@Html.ActionLink("Contact Admin todo", "ContactAdmin", "Home")</li>
                                <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                            }


                        }

                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Xenon Allianz</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
