@{
    if (Session["XenonUsername"] != null)
    {
        Response.Redirect("/Home");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Xenon Allianz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="w-100 p-3 body-content">


        <div class="navbar navbar-default" style="background-color:lightsteelblue">
            <div class="w-100 p-3">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Xenon Allianz", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Logo", "Index", "Home")</li>
                        <li>@Html.ActionLink("Database", "Index", "Database")</li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Log in", "Index", "Login")</li>
                        <li>@Html.ActionLink("API", "Api", "Home")</li>

                        <!--
    <li>@Html.ActionLink("Register", "Register", "Log")</li>
        -->
                    </ul>
                </div>
            </div>
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Xenon Allianz</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
