@model IEnumerable<Xenon___Allianz.Models.WalletModel>

@{
    ViewBag.Title = "Wallet - Index";
}
<div class="page-header">
    <h2>List of Wallet</h2>
</div>
<p>
    
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">

                    <center>
                        <img src=@item.Image height="200" width="200" />
                        <h3>@Html.DisplayFor(modelItem => item.Service)</h3>
                        <p>Numbers of contracts : @Html.DisplayFor(modelItem => item.NumberOfContract)</p>
                        <p>@item.Scope</p>
                    </center>
                    <p>
                        <center>
                            @{


                                if (((string)Session["XenonStatus"]) == "souscripteur")
                                {
                                    Guid s = item.Id;
                                    <button class="btn btn-primary" onclick='test("@s")'><span class=" glyphicon glyphicon-eye-open"></span></button>
                                    <!--
                                    @Html.ActionLink("Detail", "Index", "Contract",
                                    new { @id = item.Id }, new { @class = "btn btn-primary", @style = " margin-right: 5px" })

                                    @Html.ActionLink("Edit to do", "Edit", "Wallet",
                                    new { @id = item.Service }, new { @class = "btn btn-success" })
                                          -->
                                }
                                else if (((string)(Session["XenonStatus"])).Equals("manager"))
                                {
                                    Guid s = item.Id;
                                    <button class="btn btn-primary" onclick='test("@s")'><span class=" glyphicon glyphicon-eye-open"></span></button>
                                }

                                else
                                {

                                }
                            }
                        </center>

                    </p>

                </div>
            </div>
        </div>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval"),
    @Scripts.Render("~/bundles/ContractPagination/js")
}
