@model Xenon___Allianz.Models.CreateContractModel

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Create : </h2>
<form action="/Contract/AddContract">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="form-group">
                <label>Start date</label>
                <input type="text" class="form-control datepicker" name="Start" id="createStart" value=" " required>
            </div>
            <div class="form-group">
                <label>End date</label>
                <input type="text" class="form-control datepicker" name="End" id="createEnd" value=" " required>
            </div>
            <div class="form-group">
                <label>Cover</label>
                <input type="number" class="form-control" name="Cover" value=" " required>
            </div>
            <div class="form-group">
                <label><input type="checkbox" name="Negociable">Negociable</label>
            </div>
            <div class="form-group">
                <label>Prime</label>
                <input type="number" class="form-control" name="Prime" value=" " required>
            </div>
            <div class="form-group">
                <label>Company</label>
                <input type="text" class="form-control" name="Company" value=" " required>
            </div>
            <div class="form-group">

                <input type="hidden" class="form-control" name="Wallet" value="@Model.WalletId" required>
            </div>
            <div class="form-group">
                <label>Wallet Name</label>
                <input type="text" class="form-control" name="WalletName" value="@Model.WalletName" readonly>
            </div>
            <div class="form-group">
                <label>Value</label>
                <input type="number" class="form-control" name="Value" value=" " required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
        <div class="col-md-5">
            @foreach (var item in Model.GeographicZoneModel)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="GeographicZoneId"
                               value="@item.Id" /> @item.Name
                    </label>
                </div>
            }
        </div>
    </div>

</form>

<!--


-->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval"),
    @Scripts.Render("~/bundles/Contract/js")
}
