@model IEnumerable<Xenon___Allianz.Models.ContractModel>

@{
    ViewBag.Title = "List of contract";
}



<div class="page-header">
    <h2>List of Contract</h2>
</div>
@if (((string)Session["XenonStatus"]) == "souscripteur")
{
    <p>
        @Html.ActionLink("add New contract", "Create/" + (Guid)(Session["currentWallet"]), "Contract")
    </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3> @Html.DisplayFor(modelItem => item.Company)</h3>
                    <p>Start at : @Html.DisplayFor(modelItem => item.Start.ToString().Split(' ')[0])</p>
                    <p>

                        @{
                            if (((string)Session["XenonStatus"]) == "souscripteur")
                            {
                                @Html.ActionLink("Details", "Detail", "Contract",
                                                                       new
                                                                       {
                                                                           @id = item.Id
                                                                       },
                                                                       new
                                                                       {
                                                                           @class = "btn btn-primary"
                                                                       })


                                <!--@Html.ActionLink("Edit to do", "Edit", "Wallet",
                                new { @id = item.Id }, new { @class = "btn btn-success" })
                                      -->
                            }
                            else if (((string)(Session["XenonStatus"])).Equals("manager"))
                            {
                                @Html.ActionLink("Details", "Detail", "Contract",
                                                                       new
                                                                       {
                                                                           @id = item.Id
                                                                       },
                                                                       new
                                                                       {
                                                                           @class = "btn btn-primary"
                                                                       })
                            }

                            else
                            {

                            }
                        }


                    </p>

                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                @{
                    for (int i = 1; i <= 5; i++)
                    {

                        string s = (Guid)(Session["currentWallet"])+","+ i;
                       
                        <button class="btn btn-default" id=@s onclick='test2("@s")'>@i</button>

                    } }

            </div>
        </div>
    </div>
    <div class="col-md-4"></div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval"),
    @Scripts.Render("~/bundles/ContractPagination/js")
}
