@model IEnumerable<Xenon___Allianz.Models.ContractModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (((string)Session["XenonType"]) == "souscripteur")
{
    <p>
        @Html.ActionLink("Create New contract", "Create/" + (int)(Session["currentWallet"]), "Contract")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        @{
            if (((string)Session["XenonType"]) == "souscripteur")
            {
                <th></th>
                <th></th>
            }

        }


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start.ToString().Split(' ')[0])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cover)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Negociable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Wallet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
                -->
            @{
                if (((string)Session["XenonType"]) == "souscripteur")
                {
                    <td>
                        @Html.ActionLink("Edit to do", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Detail", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                }

            }


        </tr>
    }

</table>
