@model Xenon___Allianz.Models.ContractListModel

@{
                /**/

                ViewBag.Title = "List of contract";
}



<div class="page-header">

    <h2 class="text-center">@Model.WalletName.ToUpper()</h2>
    <p class="">
        @Html.ActionLink("add New contract", "Create/" + (Guid)(Session["currentWallet"]), "Contract")
    </p>
</div>
@if (((string)Session["XenonStatus"]) == "souscripteur")
{
    
    
}
<table id="contractList" class="table-hover table-striped"  width="100%">
    <thead>
        <tr>
            <th>Company name</th>
            <th>Start date</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContractList)
        {
            <tr style="height:50px">
                <td>@item.Company</td>
                <td>@item.Start</td>
                <td>
                    @Html.ActionLink("Details", "Detail", "Contract",new{@id = item.Id},new{@class = "btn btn-primary"})
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval"),
    @Scripts.Render("~/bundles/ContractPagination/js")
}
